/* main.css */
h1 {color: navy; font-size: 2.5em; text-align: center; }

td { font-family: Arial; font-size; 14px; }
footer a { text-decoration: none; color: crimson; }
footer a:hover { color: darkred; }
